
.GeneralDiv_PerAccUs{
    height:920px;
    width:1764px;
    display: flex;
    justify-content: space-between;
}
/*Левое меню */
.LeftMenu_PerAccUs{
    width: 331px;
    height: 240px;
    background-color: rgba(70, 58, 203, 0.1);
    border-radius: 20px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LeftMenuButt_PerAccUs{
    width: 262px;
    height: 119px;

}
.ProfileButt_PerAccUs{
    width: 261px;
    height: 49px;
}
.PartButt_PerAccUs{
    width: 261px;
    height: 49px;
    margin-top:21px;
}

.MainDiv_PerAccUs{
    width: 1362px;
    height: 920px;
}
/*Публичные данные*/
.GeneralPublicData_PerAccUs{
    width: 1362px;
    height: 172px;
    display: flex;
    flex-direction: inline;
    align-items: center;
    background-color: rgba(70, 58, 203, 0.1);
    border-radius: 20px;
    border: 1px solid blue;
}

.PublicData_PerAccUs{
    width: 1291px;
    height: 107px;
    display: flex;
    flex-direction: inline;
    justify-content: center;
}

.PublicInfo_PerAccUs{
    width: 297px;
    height: 93px;

}

.PublicInfoInputs_PerAccUs{
    width: 925px;
    height: 107px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.PublicInputName_PerAccUs{
    width: 925px;
    height: 45px ;
    border-radius: 10px;
}

.PublicInputId_PerAccUs{
    width: 925px;
    height: 45px ;
    margin-top: 15px;
    border-radius: 10px;
}

.h1_PerAccUs{
    width: 297px;
    height: 30px;
    font-family: Bold;
    font-weight: 700;
    font-size: 24px;
}
.p_PerAccUs{
    width: 296px;
    font-family: Regular;
    font-weight: 700;
    font-size: 18px;
}

/*Локальные данные*/
.GeneralLocalData_PerAccUs{
    width: 1362px;
    height: 200px;
    display: flex;
    flex-direction: inline;
    align-items: center;
    background-color: rgba(70, 58, 203, 0.1);
    border-radius: 20px;
    border: 1px solid blue;
    

}

.LocalData_PerAccUs{
    width: 1291px;
    height: 161px;
    display: flex;
    flex-direction: inline;
    justify-content: center;
}

.LocalDataInputFIO_PerAccUs{
    width: 925px;
    height: 45px ;
    border-radius: 10px;
}

.DivLocalInfoPhoneBirthday_PerAccUs{
    width: 925px;
    height: 45px ;
    display: flex;
    justify-content: space-between;
}

.LocalDataInputPhoneBirthday_PerAccUs{
    width: 435px ;
    height: 45px ;
    border-radius: 10px;
}

.LocalInfoGender_PerAccUs{
    display: flex;
    justify-content: space-between;
}

.LocalInfoEmail_PerAccUs{
    width: 435px ;
    height: 45px ;
    border-radius: 10px;
}

/*Местоположение*/
.GeneralMainLocation_PerAccUs{
    width: 1362px;
    height: 233px;
    background-color: rgba(70, 58, 203, 0.1);
    border-radius: 20px;
    border: 1px solid blue;
    display: flex;
    flex-direction: inline;
    align-items: center;
}

.MainLocation_PerAccUs{
    width: 1291px;
    height: 178px;
    display: flex;
    flex-direction: inline;
    justify-content: center;
}

.LocationInfo_PerAccUs{
    width: 296px;
    height: 141px;
}

.Location_PerAccUs{
    width: 920px;
    height:178px
}

/*Смена пароля*/
.ChangePassword_PerAccUs{
    width: 1362px;
    height: 171px;
    background-color: rgba(70, 58, 203, 0.1);
    border-radius: 20px;
    border: 1px solid blue;
    display: flex;
    flex-direction: inline;
    align-items: center;
}